html,
body {
    margin: 0;
    padding: 0;
    font-size: medium;
}
div .container-main {
    // background-color: red;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    padding-left: 1%;
    padding-right: 1%;
    grid-gap: 1%;
    font-size: 0.9rem;

    header {
        background-color: #f0f0f0;
        grid-area: header;
        // overflow: scroll;
        display: grid;
        border-end-end-radius: 30px;
        grid-template-columns: 2fr 5fr 1fr;
        grid-template-areas: "logo user logout";
        align-items: center;
        .logo {
            justify-self: center;
            :hover {
                cursor: pointer;
            }
        }
        .user {
            justify-self: right;
            align-self: center;
            span + span {
                margin-left: 10px;
            }
        }
        .logout {
            justify-self: center;
            button {
                background-color: #ccc;
                color: darkslategray;
                border-radius: 10px;
                border: 0;
                margin: 10px;
                padding-inline: 30px;
                font-weight: 600;
                height: 25px;
                box-shadow: 3px 3px 0 rgb(255, 255, 255);
            }
            button:hover {
                background-color: rgb(255, 210, 113);
                box-shadow: 3px 3px 0 darkorange;
                cursor: pointer;
            }
        }
    }
    aside {
        background-color: rgb(240, 240, 240);
        grid-area: aside;
        overflow: hidden;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;

        nav {
            ul {
                margin-top: 0 auto;
                padding: 0 0;
                display: grid;
                li:hover {
                    background-color: #bbb;
                }
                .link-menu {
                    text-decoration: none;
                }
                li {
                    text-align: center;
                    line-height: 5vh;
                    font-family: "Lato", Helvetica, Arial, sans-serif;
                    color: #777;
                    font-weight: bold;
                }
            }
        }
    }
    main {
        grid-area: main;
        overflow: auto;
        .content-home {
            display: flex;
            justify-content: start;
            padding-top: 20px;
            .total-products,
            .total-users {
                margin: 20px;
                padding: 30px;
                background-color: #ccc;
                border-radius: 20px;
                box-shadow: 3px 3px 0 darkslategray;
                display: block;
                text-align: center;
                font-size: large;
                span {
                    font-size: 40px;
                }
            }
            div:hover {
                background-color: rgb(255, 210, 113);
                color: orangered;
                box-shadow: 3px 3px 0 darkorange;
                cursor: pointer;
            }
            .editor-view {
                @extend .total-users;
            }
            #editor:hover {
                background-color: #ccc;
                box-shadow: 3px 3px 0 darkslategray;
                color: black;
                cursor: auto;
            }
        }
    }
    footer {
        grid-area: footer;
        margin: 0 left;
        align-self: center;
        a {
            text-decoration: none;
            color: lightslategrey;
        }
    }
}

.admin {
    background-color: red;
    border-radius: 10px;
    padding-inline: 10px;
    color: white;
}
.editor {
    background-color: rgb(230, 149, 0);
    border-radius: 10px;
    padding-inline: 10px;
    color: white;
}

@media only screen and (max-width: 660px) {
    div .container-main {
        display: grid;
        grid-template-rows: 10vh 10vh 70vh 5vh;
        aside {
            grid-column: 1/3;
            grid-row: 2/3;
            display: grid;
            background-color: white;
            // text-decoration: none;
            border-radius: 0;
            // overflow: scroll;
            max-height: 10vh;
            padding: 0 auto;
            // margin: 0 auto;
            nav {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 1px;
                margin: 0;
                ul {
                    display: block;
                    margin-top: 0 auto;
                    padding: 0 0;
                    display: grid;
                    .link-menu {
                        text-decoration: none;
                        text-decoration-style: dotted;
                    }
                    li {
                        // text-align: center;
                        // line-height: 50px;
                        font-family: "Lato", Helvetica, Arial, sans-serif;
                        color: #777;
                        // line-height: 50px;
                        font-weight: bold;
                    }
                    li:hover {
                        background-color: #fff;
                        border-bottom: 2px solid orange;
                    }
                }
            }
            // nav {
            //     // text-decoration: none;
            //     display: flex;
            //     grid-template-columns: 1fr 1fr 1fr;

            //     margin: 0;
            //     // padding: 20px;
            //     justify-content: space-around;
            //     ul {
            //         // margin: 0;
            //         margin-left: 10px;
            //         .link-menu {
            //             background-color: red;
            //             padding: 0 auto;
            //             text-decoration: none;
            //         }
            //     }
            //     li:hover {
            //         background: red;
            //         border-bottom: 2px solid orange;
            //     }
            // }
        }
        main {
            grid-column: 1/3;
            grid-row: 3/3;
            overflow-wrap: break-word;
            // margin: 0;
            // padding: 0;
        }
        header {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
        }
        footer {
            display: grid;
            grid-column: 1/3;
            grid-row: 4/4;
            justify-self: center;
        }
    }
}
