h2 {
  -webkit-box-shadow: 1px 1px 0 #ddd;
          box-shadow: 1px 1px 0 #ddd;
  padding-block: 10px;
  margin-left: 10px;
}

h2 span {
  color: #ffa935;
}

div.content-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 20px;
}

div.content-home div.total, div.content-home div.editor-view {
  margin: 20px;
  padding: 30px;
  background-color: #ccc;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 0 darkslategray;
          box-shadow: 3px 3px 0 darkslategray;
  display: block;
  text-align: center;
  font-size: large;
}

div.content-home div.total span, div.content-home div.editor-view span {
  font-size: 40px;
}

div.content-home div:hover {
  background-color: #ffd271;
  color: orangered;
  -webkit-box-shadow: 3px 3px 0 darkorange;
          box-shadow: 3px 3px 0 darkorange;
  cursor: pointer;
}

div.content-home div.editor-view:hover {
  background-color: #ccc;
  -webkit-box-shadow: 3px 3px 0 darkslategray;
          box-shadow: 3px 3px 0 darkslategray;
  color: black;
  cursor: auto;
}

.radio-option {
  font-weight: 400;
}

button.btn-login {
  border-radius: 10px;
  border: 0;
  margin: 10px;
  font-weight: 600;
  height: 40px;
  font-size: medium;
  background-color: #ffa935;
  -webkit-box-shadow: 3px 3px 0 darkorange;
          box-shadow: 3px 3px 0 darkorange;
  color: #9b5500;
}

button.btn-login span + span {
  margin-inline: 5px;
}

button.btn-login:hover {
  background-color: #ffb85b;
  -webkit-box-shadow: 3px 3px 0 #df9100;
          box-shadow: 3px 3px 0 #df9100;
  color: #5a3200;
  cursor: pointer;
}

button {
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  margin-inline: 5px;
}

button :hover {
  cursor: pointer;
}

button.btn-delete, button.btn-keep {
  background-color: #e23b3b;
  border: 0;
  color: white;
}

button.btn-keep {
  background-color: #5252e6;
}

button.btn-delete:hover, button.btn-keep:hover {
  background: red;
  cursor: pointer;
}

button.btn-keep:hover {
  background: #25259c;
}

.btn-register, .btn-cancel, .btn-save {
  background-color: #5c71eb;
  color: white;
  -webkit-box-shadow: 3px 3px 0 #293b9e;
          box-shadow: 3px 3px 0 #293b9e;
  border-radius: 10px;
  border: 0;
  margin: 10px;
  padding-inline: 30px;
  font-weight: 600;
  height: 50px;
  font-size: medium;
}

.btn-register:hover, .btn-cancel:hover, .btn-save:hover {
  background-color: #293b9e;
  -webkit-box-shadow: 3px 3px 0 #0d1853;
          box-shadow: 3px 3px 0 #0d1853;
  cursor: pointer;
}

.btn-cancel, .btn-save {
  background-color: #f34040;
  color: darkred;
  height: 35px;
  -webkit-box-shadow: 3px 3px 0 #c50c0c;
          box-shadow: 3px 3px 0 #c50c0c;
  -ms-grid-column-align: right;
      justify-self: right;
}

.btn-cancel:hover, .btn-save:hover {
  background-color: #830707;
  -webkit-box-shadow: 3px 3px 0 #380202;
          box-shadow: 3px 3px 0 #380202;
  color: white;
}

.btn-save {
  background-color: #48c52f;
  -webkit-box-shadow: 3px 3px 0 #338a21;
          box-shadow: 3px 3px 0 #338a21;
  color: darkgreen;
  -ms-grid-column-align: left;
      justify-self: left;
}

.btn-save:hover {
  background-color: darkgreen;
  -webkit-box-shadow: 3px 3px 0 #380202;
          box-shadow: 3px 3px 0 #380202;
  color: white;
}

.form-section {
  max-width: 550px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  overflow: hidden;
  color: #585858;
}

.form-section .form-labels {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-inline: 5px;
}

.form-section .form-labels label {
  font-weight: bold;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-inline: 20px;
}

.form-section .form-labels input {
  background-color: #ebebeb;
  border: 0;
  margin-inline: 20px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-section .form-buttons {
  margin-inline: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.form-section .form-buttons button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 150px;
}

aside {
  background-color: #f0f0f0;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  overflow: hidden;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

aside nav li:hover {
  background-color: #bbb;
}

aside nav ul {
  -webkit-box-shadow: 1px 1px 0 #ddd;
          box-shadow: 1px 1px 0 #ddd;
  margin-top: 0 auto;
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  list-style-type: none;
  padding-block: 20px;
}

aside nav ul .link-menu {
  text-decoration: none;
}

aside nav ul .link-menu span + span {
  margin: 20px;
}

aside nav ul li {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #777;
  font-weight: bold;
}

@media only screen and (max-width: 660px) {
  aside {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -ms-grid;
    display: grid;
    background-color: white;
    border-radius: 0;
    max-height: 10vh;
    padding: 0 auto;
  }
  aside nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
    margin: 0;
  }
  aside nav ul {
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
    margin-top: 0 auto;
    padding: 0 0;
    display: -ms-grid;
    display: grid;
  }
  aside nav ul .link-menu {
    text-decoration: none;
  }
  aside nav ul li {
    color: #777;
    font-weight: bold;
  }
  aside nav ul li:hover {
    background-color: #fff;
    border-bottom: 2px solid orange;
  }
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  margin: 0 left;
  -ms-flex-item-align: center;
      align-self: center;
}

footer a {
  text-decoration: none;
  color: lightslategrey;
}

@media only screen and (max-width: 660px) {
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    grid-row: 4/4;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

header {
  background-color: #ffa935;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 2fr 5fr 1fr;
      grid-template-areas: "logo user logout";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 0 black;
          box-shadow: 0 5px 0 black;
}

header div.logo {
  -ms-grid-column-align: center;
      justify-self: center;
}

header div.logo :hover {
  cursor: pointer;
}

header div.user {
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header div.user span + span {
  margin-left: 10px;
}

header div.logout {
  -ms-grid-column-align: center;
      justify-self: center;
}

header div.logout button {
  background-color: #bebebe;
  color: darkslategray;
  border-radius: 10px;
  border: 0;
  margin: 10px;
  padding-inline: 30px;
  font-weight: 600;
  height: 25px;
  -webkit-box-shadow: 3px 3px 0 darkslategray;
          box-shadow: 3px 3px 0 darkslategray;
}

header div.logout button:hover {
  background-color: darkslategray;
  -webkit-box-shadow: 3px 3px 0 black;
          box-shadow: 3px 3px 0 black;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 660px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}

button.btn-login {
  border-radius: 10px;
  border: 0;
  margin: 10px;
  font-weight: 600;
  height: 40px;
  font-size: medium;
  background-color: #ffa935;
  -webkit-box-shadow: 3px 3px 0 darkorange;
          box-shadow: 3px 3px 0 darkorange;
  color: #9b5500;
}

button.btn-login span + span {
  margin-inline: 5px;
}

button.btn-login:hover {
  background-color: #ffb85b;
  -webkit-box-shadow: 3px 3px 0 #df9100;
          box-shadow: 3px 3px 0 #df9100;
  color: #5a3200;
  cursor: pointer;
}

button {
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  margin-inline: 5px;
}

button :hover {
  cursor: pointer;
}

button.btn-delete, button.btn-keep {
  background-color: #e23b3b;
  border: 0;
  color: white;
}

button.btn-keep {
  background-color: #5252e6;
}

button.btn-delete:hover, button.btn-keep:hover {
  background: red;
  cursor: pointer;
}

button.btn-keep:hover {
  background: #25259c;
}

.btn-register, .btn-cancel, .btn-save {
  background-color: #5c71eb;
  color: white;
  -webkit-box-shadow: 3px 3px 0 #293b9e;
          box-shadow: 3px 3px 0 #293b9e;
  border-radius: 10px;
  border: 0;
  margin: 10px;
  padding-inline: 30px;
  font-weight: 600;
  height: 50px;
  font-size: medium;
}

.btn-register:hover, .btn-cancel:hover, .btn-save:hover {
  background-color: #293b9e;
  -webkit-box-shadow: 3px 3px 0 #0d1853;
          box-shadow: 3px 3px 0 #0d1853;
  cursor: pointer;
}

.btn-cancel, .btn-save {
  background-color: #f34040;
  color: darkred;
  height: 35px;
  -webkit-box-shadow: 3px 3px 0 #c50c0c;
          box-shadow: 3px 3px 0 #c50c0c;
  -ms-grid-column-align: right;
      justify-self: right;
}

.btn-cancel:hover, .btn-save:hover {
  background-color: #830707;
  -webkit-box-shadow: 3px 3px 0 #380202;
          box-shadow: 3px 3px 0 #380202;
  color: white;
}

.btn-save {
  background-color: #48c52f;
  -webkit-box-shadow: 3px 3px 0 #338a21;
          box-shadow: 3px 3px 0 #338a21;
  color: darkgreen;
  -ms-grid-column-align: left;
      justify-self: left;
}

.btn-save:hover {
  background-color: darkgreen;
  -webkit-box-shadow: 3px 3px 0 #380202;
          box-shadow: 3px 3px 0 #380202;
  color: white;
}

.table-head {
  -webkit-box-shadow: 0px 2px 0 #ffa935;
          box-shadow: 0px 2px 0 #ffa935;
}

.table-head span {
  font-weight: 900;
  font-size: 16px;
}

.table {
  color: #585858;
}

.table div {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

div.container-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr;
      grid-template-columns: 1fr 8fr;
  -ms-grid-rows: 10vh 80vh 10vh;
      grid-template-rows: 10vh 80vh 10vh;
      grid-template-areas: "header header" "aside main" "footer footer";
  padding-left: 1%;
  padding-right: 1%;
  grid-gap: 1%;
  font-size: 0.9rem;
}

div.container-main main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  overflow: auto;
}

@media only screen and (max-width: 660px) {
  div .container-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10vh 10vh 70vh 5vh;
        grid-template-rows: 10vh 10vh 70vh 5vh;
  }
  div .container-main main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3/3;
    overflow-wrap: break-word;
  }
}

#admin {
  background-color: black;
  border-radius: 10px;
  color: white;
  padding-inline: 10px;
  padding-block: 4px;
  text-transform: capitalize;
}

#editor {
  background-color: darkgrey;
  border-radius: 10px;
  color: #fff;
  padding-inline: 10px;
  padding-block: 4px;
  text-transform: capitalize;
}

button.btn-login {
  border-radius: 10px;
  border: 0;
  margin: 10px;
  font-weight: 600;
  height: 40px;
  font-size: medium;
  background-color: #ffa935;
  -webkit-box-shadow: 3px 3px 0 darkorange;
          box-shadow: 3px 3px 0 darkorange;
  color: #9b5500;
}

button.btn-login span + span {
  margin-inline: 5px;
}

button.btn-login:hover {
  background-color: #ffb85b;
  -webkit-box-shadow: 3px 3px 0 #df9100;
          box-shadow: 3px 3px 0 #df9100;
  color: #5a3200;
  cursor: pointer;
}

button {
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  margin-inline: 5px;
}

button :hover {
  cursor: pointer;
}

button.btn-delete, button.btn-keep {
  background-color: #e23b3b;
  border: 0;
  color: white;
}

button.btn-keep {
  background-color: #5252e6;
}

button.btn-delete:hover, button.btn-keep:hover {
  background: red;
  cursor: pointer;
}

button.btn-keep:hover {
  background: #25259c;
}

.btn-register, .btn-cancel, .btn-save {
  background-color: #5c71eb;
  color: white;
  -webkit-box-shadow: 3px 3px 0 #293b9e;
          box-shadow: 3px 3px 0 #293b9e;
  border-radius: 10px;
  border: 0;
  margin: 10px;
  padding-inline: 30px;
  font-weight: 600;
  height: 50px;
  font-size: medium;
}

.btn-register:hover, .btn-cancel:hover, .btn-save:hover {
  background-color: #293b9e;
  -webkit-box-shadow: 3px 3px 0 #0d1853;
          box-shadow: 3px 3px 0 #0d1853;
  cursor: pointer;
}

.btn-cancel, .btn-save {
  background-color: #f34040;
  color: darkred;
  height: 35px;
  -webkit-box-shadow: 3px 3px 0 #c50c0c;
          box-shadow: 3px 3px 0 #c50c0c;
  -ms-grid-column-align: right;
      justify-self: right;
}

.btn-cancel:hover, .btn-save:hover {
  background-color: #830707;
  -webkit-box-shadow: 3px 3px 0 #380202;
          box-shadow: 3px 3px 0 #380202;
  color: white;
}

.btn-save {
  background-color: #48c52f;
  -webkit-box-shadow: 3px 3px 0 #338a21;
          box-shadow: 3px 3px 0 #338a21;
  color: darkgreen;
  -ms-grid-column-align: left;
      justify-self: left;
}

.btn-save:hover {
  background-color: darkgreen;
  -webkit-box-shadow: 3px 3px 0 #380202;
          box-shadow: 3px 3px 0 #380202;
  color: white;
}

div.bg {
  background-image: url(/src/components/Images/bg-beers.svg);
  background-color: #eee;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 50px;
}

div.bg div.container-login {
  background-color: #ebebeb;
  width: 440px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  margin-top: 5px;
  -webkit-box-shadow: 3px 3px 0 lightgray;
          box-shadow: 3px 3px 0 lightgray;
  border-radius: 10px;
}

div.bg div.container-login h2 {
  -ms-grid-column-align: center;
      justify-self: center;
}

div.bg div.container-login div.header-login-form {
  padding: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 70%;
}

div.bg div.container-login div.header-login-form span {
  -ms-grid-column-align: center;
      justify-self: center;
}

div.bg div.container-login form.body-login-form {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 20px;
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  color: #585858;
}

div.bg div.container-login form.body-login-form div.form-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 1fr 2fr;
      grid-template-rows: 1fr 2fr 1fr 2fr;
  -ms-grid-column-align: left;
      justify-self: left;
}

div.bg div.container-login form.body-login-form div.form-inputs input {
  background-color: #eee;
  border: 0;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 5px;
  width: 180%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-spacing: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: darkorange;
  color: #585858;
  padding-inline: 10px;
  margin-block: 10px;
}

div.bg div.container-login form.body-login-form div.form-button {
  margin-inline: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

div.bg div.container-login form.body-login-form div.form-button button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 140px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Lato", sans-serif !important;
}
/*# sourceMappingURL=index.css.map */