@import "../../components/Button/button";

div.bg {
    background-image: url(/src/components/Images/bg-beers.svg);
    background-color: #eee;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 50px;

    div.container-login {
        background-color: rgb(235, 235, 235);
        width: 440px;
        display: grid;
        margin: 0 auto;
        margin-top: 5px;
        box-shadow: 3px 3px 0 lightgray;
        border-radius: 10px;
        h2 {
            justify-self: center;
        }
        div.header-login-form {
            padding: 20px;
            justify-self: center;
            width: 70%;
            span {
                justify-self: center;
            }
        }
        form.body-login-form {
            justify-self: center;
            margin-top: 20px;
            width: 70%;
            display: grid;
            grid-template-rows: 2fr 1fr;
            color: rgb(88, 88, 88);
            div.form-inputs {
                display: grid;
                grid-template-rows: 1fr 2fr 1fr 2fr;
                justify-self: left;
                input {
                    background-color: #eee;
                    border: 0;
                    justify-self: center;
                    border-radius: 5px;
                    width: 180%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-spacing: 20px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: darkorange;
                    color: rgb(88, 88, 88);
                    padding-inline: 10px;
                    margin-block: 10px;
                }
            }
            div.form-button {
                margin-inline: 5px;
                display: flex;
                justify-self: center;
                grid-template-columns: 1fr;
                button {
                    align-self: center;
                    width: 140px;
                }
            }
        }
    }
}
