div.bg {
    background-image: url(/src/components/Images/bg-beers.svg);
    background-color: white;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 100px;
}
.container-login {
    background-color: #eee;
    width: 440px;
    display: grid;
    margin: 0 auto;
    margin-top: 5px;
    // grid-template-rows: 1fr 1fr 2fr;
    box-shadow: 3px 3px 0 lightgray;
    border-radius: 20px;
    h2 {
        justify-self: center;
        // background-color: red;
    }
    div#header-login {
        padding: 20px;
        // display: grid;
        // grid-template-rows: 1fr 1fr;
        justify-self: center;
        width: 70%;
        // background-color: green;
        span {
            justify-self: center;
        }
    }
    form.form-section {
        // background-color: yellow;
        // background-color: yellow;
        justify-self: center;
        margin-top: 20px;
        width: 70%;
        display: grid;
        grid-template-rows: 2fr 1fr;
        color: rgb(88, 88, 88);
        .form-labels {
            display: grid;
            grid-template-rows: 1fr 2fr 1fr 2fr;
            justify-self: left;
            // margin-inline: 5px;
            label {
                font-weight: bold;
            }
            input {
                background-color: rgb(209, 209, 209);
                border: 0;
                justify-self: center;
                border-radius: 5px;
                width: 180%;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        #radio-option {
            font-weight: 400;
        }
        .form-buttons {
            margin-inline: 5px;
            display: flex;
            justify-self: center;
            grid-template-columns: 1fr;
            button {
                align-self: center;
                width: 140px;
            }
        }
        #btn-confirm {
            border-radius: 10px;
            border: 0;
            margin: 10px;
            font-weight: 600;
            height: 40px;
            font-size: medium;
            background-color: #ffa935;
            box-shadow: 3px 3px 0 darkorange;
            color: rgb(155, 85, 0);
        }
        #btn-confirm:hover {
            background-color: #ffb85b;
            box-shadow: 3px 3px 0 #df9100;
            color: rgb(90, 50, 0);
            cursor: pointer;
        }
    }
}
