@import "./Users/NewUser/new-user";
@import "./Button/button";

.form-section {
    max-width: 550px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    overflow: hidden;
    color: rgb(88, 88, 88);
    .form-labels {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-inline: 5px;
        label {
            font-weight: bold;
            justify-content: left;
            margin-inline: 20px;
        }
        input {
            background-color: rgb(235, 235, 235);
            border: 0;
            margin-inline: 20px;
            border-radius: 5px;
            // max-width: 170px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .form-buttons {
        margin-inline: 5px;
        display: flex;
        justify-self: center;
        grid-template-columns: 1fr;
        button {
            align-self: center;
            width: 150px;
        }
    }
}
