footer {
    grid-area: footer;
    margin: 0 left;
    align-self: center;
    a {
        text-decoration: none;
        color: lightslategrey;
    }
}
@media only screen and (max-width: 660px) {
    footer {
        display: grid;
        grid-column: 1/3;
        grid-row: 4/4;
        justify-self: center;
    }
}
